<html>
<head>

</head>
<body>

    <div>
        @helper MyListHelper(string[] str)
            {

    <ul>
        @foreach(var item in str)
    {
        <li>@item</li>
    }
        </ul>
        }
    </div>

    <div>
        @MyListHelper(new string[] {"Delhi","Kolkata","Mumbai","Bangalore"})
    </div>
</body>
</html>

