
@model ModelInMVC.Models.Employee

<!DOCTYPE html>

<html>
<head>


</head>

<body>

    <table>
        <tr>
            <td>
                Id
            </td>
            <td>
                @Model.Id
            </td>
        </tr>
        <tr>
            <td>
                Name
            </td>
            <td>

                @Model.Name
            </td>
        </tr>
        <tr>
            <td>

                Address
                
            </td>
            <td>
                @Model.Address
            </td>
        </tr>

    </table>
</body>

</html>


