@{
    ViewBag.Title = "Home Page";
}

<h1>I am From home controller and Index Action method..!!</h1>

<div>


    <h2> <a href="/Pages/Idex"> Pages -  IDEX </a></h2>
    <br />
    <h2> <a href="/pages/About">Pages - ABOUT </a></h2>
    <br />
    <h2><a href="/Pages/ContactUs">Pages- CONTACT US</a></h2>


</div>